$headerTextColor: rgb(239, 240, 220);
$headerLinkColor: rgb(177, 173, 116);
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}

.bodyContainer {
  min-height: 100vh;
  background-color: rgb(34, 34, 46);
  display: flex;
}

.leftBar {
  background-color: red;
  width: 45%;
  height: 100%;
  min-height: 100vh;
  background-image: url("../imgs/CaseyHorner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.barTitle {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(200, 200, 200, 0.3);
  color: $headerTextColor;
  font-family: audiowide, sans-serif;
  img {
    width: 100px;
    height: auto;
  }
}

.barFooter {
  font-size: 0.75rem;
  margin-top: 300px;
  align-self: center;
  color: $headerTextColor;
  a {
    color: $headerLinkColor;
    text-decoration: none;
  }
}

.rightBar {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding-bottom: 20px;
    box-shadow: 1px 2px 2px rgb(255, 255, 255, 0.4);
    padding-left: 40px;
    padding-right: 40px;
    label {
      color: $headerTextColor;
      font-family: audiowide, sans-serif;
      font-size: 0.75rem;
    }
    input {
      min-width: 150px;
      max-width: 200px;
    }
  }
  button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 40px;
    width: 30%;
    background-color: $headerTextColor;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 3px rgba(5, 4, 31, 0.2);
  }
  button:hover {
    background-color: $headerLinkColor;
    box-shadow: 3px 3px 10px 3px rgba(5, 4, 31, 0.4);
  }
  p {
    color: $headerTextColor;
    padding-left: 40px;
    padding-right: 40px;
  }
  a {
    color: $headerLinkColor;
    text-decoration: none;
  }
  h3 {
    color: $headerLinkColor;
    padding-left: 40px;
    padding-right: 40px;
  }
}
